@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background: rgb(0, 0, 0);
}

.container {
  width: 80%;
  margin: 3rem auto;
  border-radius: 1rem;
}

/* Navbar */
.menu-logo {
  display: none;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 800;
  font-style: italic;
  font-size: 36px;
  color: rgb(230, 83, 60);
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.nav-options {
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 4px 4px 2px;
  border-radius: 39px;
  height: 46px;
  width: 440px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-options p {
  cursor: pointer;
}
.home {
  position: relative;
  color: #ffffff;
  align-items: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 46px;
  background-color: rgb(230, 83, 60);
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  font-weight: 600;
  cursor: pointer;
}

/* Header */
.header {
  /* border: 1px solid red; */

  position: absolute;

  width: 1900px;
  height: 715px;
  margin-top: 0;
  background: linear-gradient(
    200deg,
    rgb(70, 70, 70),
    rgba(71, 71, 71, 0.096) 100%
  );
}
.header-text {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  color: rgba(255, 255, 255);
  flex: none;
  order: 0;
  align-self: stretch;
  margin: 28px 0;
  flex-grow: 0;
  font-weight: 900;
  line-height: 120%;
  font-size: 78px;
  text-align: left;
  letter-spacing: 0%;
}
.main-text {
  margin-left: 190px;
}
.shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 10rem;
}
.main-text p {
  text-wrap: nowrap;
}
.header-text-dec {
  margin: 28px 0px;
  font-size: 16px;
  font-weight: 400;
  width: 27.37%;
  color: rgba(255, 255, 255, 0.5);
}
.header-text-dec2 {
  display: none;
}
/* header btn */
.header-btn {
  width: 460px;
  height: 55px;
  align-items: center;
  display: flex;
}
.join {
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  color: #ffffff;
  align-items: center;
  text-align: center;
  border-radius: 46px;
  background-color: rgb(230, 83, 60);
  cursor: pointer;
}
.download-btn {
  background-color: transparent;
  width: 224px;
  height: 54px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  border-radius: 46px;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 24px;
}
/* header pic and cards */
.header-pic {
  right: 100px;
  height: 580px;
  width: 349px;
  margin-top: 32px;
  /* border: 1px solid rgb(0, 255, 42); */
  background-image: url(Images\ 2.png);
  position: relative;
  top: -500px;
  left: 1350px;
}
/* header cards */
.video-card {
  display: flex;
  justify-content: center;
  background: rgba(48, 48, 48, 0.54);
  align-items: center;
  position: absolute;
  width: 206px;
  height: 96px;
  border-radius: 12px;
  left: 1590px;
  top: 260px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.video-text h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}
.video-text p {
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
  font-size: 13px;
}
.tutorial-card {
  display: flex;
  justify-content: center;
  background: rgba(48, 48, 48, 0.54);
  align-items: center;
  position: absolute;
  width: 206px;
  height: 96px;
  border-radius: 12px;
  left: 1220px;
  top: 556px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.tutorial-text {
  margin-left: 12px;
}
.tutorial-text h3 {
  color: #ffffff;
}
.tutorial-text p {
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
  font-size: 16px;
}
.orange-ball {
  width: 40px;
  height: 40px;
  top: 584px;
}
.play {
  position: relative;
  left: 30px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: rgb(230, 83, 60);
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: -25px;
  }
  .menu-logo {
    display: block;
    color: #ffffff;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    margin-right: -30px;
    scale: 150%;
    cursor: pointer;
  }
  .nav-options {
    display: none;
  }

  /* Header */
  .header {
    /* border: 1px solid red; */

    position: absolute;
    overflow: hidden; /* HVER FLOW HIDDEN */
    width: 100%;
    height: 1030px;
    margin: 0 auto;
    margin-top: 0%;
    background: linear-gradient(
      180deg,
      rgb(70, 70, 70),
      rgba(71, 71, 71, 0.096) 100%
    );
    position: relative;
  }
  .header-text {
    width: 100%;
    font-size: 2.6rem;
    margin: 14px 0;
  }
  .main-text {
    margin-left: 0;
    padding: 0 15px;
  }
  .shape {
    font-size: 5.5rem;
  }
  .header-text-dec {
    display: none;
  }
  .header-text-dec2 {
    display: block;
    /* border: 1px solid red; */
    overflow: v;
    width: 300px;
    height: 60px;
    text-wrap: wrap;
    font-size: 1.2rem;
    margin: 14px 0;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }

  /* header btn */
  .header-btn {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .join,
  .download-btn {
    width: 169px;
    height: 54px;
    font-size: 16px;
    padding: 18px 20px;
    justify-content: space-between;
  }
  .header-pic {
    position: relative;
    left: 5%;
    scale: 100%;
    top: 8px;
  }
  /* header cards */
  .video-card {
    display: flex;
    justify-content: center;
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    position: absolute;
    scale: 80%;
    border-radius: 12px;
    left: 45%;
    top: 520px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .tutorial-card {
    display: flex;
    justify-content: center;
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    position: absolute;
    scale: 72%;
    border-radius: 12px;
    left: -4%;
    top: 740px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
